@page "/weather"
@using System.Net
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

<button class="btn btn-primary" @onclick="LoadWeatherAsync">Reload</button>

<hr />

@if (errorMessage == null)
{
    @if (forecasts == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Temp. (F)</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in forecasts)
                {
                    <tr>
                        <td>@forecast.Date.ToShortDateString()</td>
                        <td>@forecast.TemperatureC</td>
                        <td>@forecast.TemperatureF</td>
                        <td>@forecast.Summary</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <StatusMessage Message="@errorMessage" />
}

@code {
    private WeatherForecast[]? forecasts;
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        await LoadWeatherAsync();
    }

    private async Task LoadWeatherAsync()
    {
        errorMessage = null;
        forecasts = null;
        StateHasChanged();

        try
        {
            forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("api/weather");
        }
        catch (HttpRequestException ex) when (ex.StatusCode == HttpStatusCode.Unauthorized)
        {
            errorMessage = "Error: Unauthorized. Please login.";
        }
        catch (HttpRequestException ex)
        {
            errorMessage = $"Error: {ex.Message}";
        }
    }

    private sealed class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
