@using Aspire.Dashboard.Model

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
    <span><FluentHighlighter HighlightedText="@FilterText" Text="@Resource.DisplayName" /></span>
    @if (Resource is ProjectViewModel projectViewModel)
    {
        var content = projectViewModel.Uid.Substring(0, Math.Min(projectViewModel.Uid.Length, 8));
        var title = $"({content})";
        <span class="subtext" title="@title" aria-label="@title">@content</span>
    }
    else if (Resource is ContainerViewModel containerViewModel)
    {
        <div class="subtext">
            <GridValue Value="@containerViewModel.ContainerId"
                       MaxDisplayLength="8"
                       EnableHighlighting="false"
                       PreCopyToolTip="Copy container ID to clipboard"
                       ToolTip="@($"Container Id: {containerViewModel.ContainerId}")"/>
        </div>
    }
    else if (Resource is ExecutableViewModel executableViewModel)
    {
        var content = executableViewModel.Uid.Substring(0, Math.Min(executableViewModel.Uid.Length, 8));
        var title = $"({content})";
        <span class="subtext" title="@title" aria-label="@title">@content</span>
    }
</FluentStack>

@code {
    [Parameter, EditorRequired]
    public required ResourceViewModel Resource { get; set; }

    [Parameter, EditorRequired]
    public required string FilterText { get; set; }
}
