@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Resources
@inject IStringLocalizer<Columns> Loc

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center">
    <span><FluentHighlighter HighlightedText="@FilterText" Text="@FormatName(Resource)" /></span>
    @if (Resource.TryGetContainerId(out var containerId))
    {
        <div class="subtext">
            <GridValue Value="@containerId"
                       MaxDisplayLength="8"
                       EnableHighlighting="false"
                       PreCopyToolTip="@Loc[nameof(Columns.ResourceNameDisplayCopyContainerIdText)]"
                       ToolTip="@string.Format(Loc[nameof(Columns.ResourceNameDisplayContainerIdText)], containerId)"/>
        </div>
    }
    else if (Resource.TryGetProcessId(out int processId))
    {
        // NOTE projects are also executables, so this will handle both
        var title = string.Format(Loc[nameof(Columns.ResourceNameDisplayProcessIdText)], processId);
        <span class="subtext" title="@title" aria-label="@title">@processId</span>
    }
</FluentStack>

@code {
    [Parameter, EditorRequired]
    public required ResourceViewModel Resource { get; set; }

    [Parameter, EditorRequired]
    public required Func<ResourceViewModel, string> FormatName { get; set; }

    [Parameter, EditorRequired]
    public required string FilterText { get; set; }
}
