@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Extensions
@using Aspire.Dashboard.Resources
@inject IStringLocalizer<Columns> Loc

@if (Resource.IsProject() && Resource.TryGetProjectPath(out var projectPath))
{
    // NOTE projects are also executables, so we have to check for projects first
    <GridValue Value="@Path.GetFileName(projectPath)"
               ValueToCopy="@projectPath"
               EnableHighlighting="true"
               HighlightText="@FilterText"
               PreCopyToolTip="@Loc[nameof(Columns.SourceColumnSourceCopyFullPathToClipboard)]"
               ToolTip="@projectPath" />
}
else if (Resource.TryGetExecutablePath(out var executablePath))
{
    Resource.TryGetExecutableArguments(out var arguments);
    var argumentsString = arguments.IsDefaultOrEmpty ? "" : string.Join(" ", arguments);
    var fullCommandLine = $"{executablePath} {argumentsString}";

    <GridValue Value="@Path.GetFileName(executablePath)"
               ValueToCopy="@fullCommandLine"
               EnableHighlighting="true"
               HighlightText="@FilterText"
               PreCopyToolTip="@Loc[nameof(Columns.SourceColumnDisplayCopyCommandToClipboard)]"
               ToolTip="@fullCommandLine">
        <ContentAfterValue>
            <span class="subtext">@argumentsString</span>
        </ContentAfterValue>
    </GridValue>
}
else if (Resource.TryGetContainerImage(out var containerImage))
{
    <GridValue Value="@containerImage"
               EnableHighlighting="true"
               HighlightText="@FilterText"
               PreCopyToolTip="@Loc[nameof(Columns.SourceColumnSourceCopyContainerToClipboard)]"
               ToolTip="@containerImage" />
}
else if (Resource.Properties.TryGetValue(KnownProperties.Resource.Source, out var value) && value.HasStringValue)
{
    <GridValue Value="@value.StringValue"
               EnableHighlighting="true"
               HighlightText="@FilterText"
               PreCopyToolTip="@Loc[nameof(Columns.SourceColumnSourceCopyContainerToClipboard)]"
               ToolTip="@value.StringValue" />
}

@code {
    [Parameter, EditorRequired]
    public required ResourceViewModel Resource { get; set; }

    [Parameter, EditorRequired]
    public required string FilterText { get; set; }
}
