@namespace Aspire.Dashboard.Components

@using Aspire.Dashboard.Components.Pages
@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Model.Otlp
@using Aspire.Dashboard.Otlp.Model

@if (!ViewportInformation.IsDesktop)
{
    <h3 title="@SelectedDashpage.Name">@SelectedDashpage.Name</h3>
}

<FluentGrid Spacing="3" AdaptiveRendering="true" Justify="JustifyContent.FlexStart" Class="dashpage-chart-grid">
    @foreach (var chart in SelectedDashpage.Charts)
    {
        if (Instruments.FirstOrDefault(i => i.Name == chart.InstrumentName) is { } instrument)
        {
            @if (ViewportInformation.IsDesktop)
            {
                <FluentGridItem sm="12" md="6" lg="4" Class="dashpage-chart-grid-item">
                    <FluentCard AreaRestricted="true">
                        <DashpageChartContainer
                            ApplicationKey="@(SelectedApplication.Id!.GetApplicationKey())"
                            MeterName="@(instrument.Parent.MeterName)"
                            InstrumentName="@(instrument.Name)"
                            Duration="@SelectedDuration.Id"
                            ActiveView="@(SelectedViewKind ?? Metrics.MetricViewKind.Graph)"
                            OnViewChangedAsync="@OnViewChangedAsync"
                            Applications="@Applications" />
                    </FluentCard>
                </FluentGridItem>
            }
            else
            {
                <div class="dashpage-chart-grid-item">
                    <FluentCard AreaRestricted="true">
                        <DashpageChartContainer
                            ApplicationKey="@(SelectedApplication.Id!.GetApplicationKey())"
                            MeterName="@(instrument.Parent.MeterName)"
                            InstrumentName="@(instrument.Name)"
                            Duration="@SelectedDuration.Id"
                            ActiveView="@(SelectedViewKind ?? Metrics.MetricViewKind.Graph)"
                            OnViewChangedAsync="@OnViewChangedAsync"
                            Applications="@Applications" />
                    </FluentCard>
                </div>
            }
        }
    }
</FluentGrid>

@code {
    [Parameter, EditorRequired]
    public required List<OtlpApplication> Applications { get; set; }

    [Parameter, EditorRequired]
    public required SelectViewModel<ResourceTypeDetails> SelectedApplication { get; set; }

    [Parameter]
    public required OtlpMeter SelectedMeter { get; set; }

    [Parameter, EditorRequired]
    public required DashpageDefinition SelectedDashpage { get; set; }

    [Parameter, EditorRequired]
    public required List<OtlpInstrumentSummary> Instruments { get; set; }

    [Parameter, EditorRequired]
    public required Func<Metrics.MetricViewKind, Task> OnViewChangedAsync { get; set; }

    [Parameter, EditorRequired]
    public required Metrics.MetricViewKind? SelectedViewKind { get; set; }

    [Parameter, EditorRequired]
    public required SelectViewModel<TimeSpan> SelectedDuration { get; set; }

    [CascadingParameter]
    public required ViewportInformation ViewportInformation { get; set; }
}
