@namespace Aspire.Dashboard.Components

@inherits ChartContainer

@using Aspire.Dashboard.Otlp.Model
@using Aspire.Dashboard.Resources
@using Metrics = Aspire.Dashboard.Components.Pages.Metrics
@using Aspire.Dashboard.Components.Controls.Chart

@inject IStringLocalizer<ControlsStrings> Loc
@inject IStringLocalizer<StructuredLogs> StructuredLogsLoc

@if (Instrument is null)
{
    <div>@Loc[nameof(ControlsStrings.ChartContainerUnableToDisplay)]</div>
}
else
{
    <div>
        <div class="dashpage-chart-header">
            <h5 title="@Instrument.Name"
                style="margin-bottom: 0; overflow: hidden; text-overflow: ellipsis; display: inline-block; max-width: 90%">@Instrument.Name</h5>

            @if (DimensionFilters.Count > 0)
            {
                <FluentButton Id="@_filterButtonId"
                              Appearance="Appearance.Stealth"
                              Style="float: right; padding-bottom: 8px"
                              aria-label="@StructuredLogsLoc[nameof(StructuredLogs.StructuredLogsAddFilter)]"
                              OnClick="() => _filterPopupOpen = !_filterPopupOpen">
                    <FluentIcon Value="@(new Icons.Regular.Size16.Filter())"/>
                </FluentButton>

                <FluentPopover AnchorId="@_filterButtonId"
                               @bind-Open="_filterPopupOpen"
                               AutoFocus="true"
                               HorizontalPosition="HorizontalPosition.Left">
                    <Body>
                        <ChartFilters InstrumentViewModel="@ViewModel" Instrument="@Instrument" DimensionFilters="@DimensionFilters"/>
                    </Body>
                </FluentPopover>
            }
        </div>

        <div class="dashpage-chart-body">
            @if (ActiveView is Metrics.MetricViewKind.Graph)
            {
                <ChartWrapper Applications="@Applications"
                          Duration="@Duration"
                          Instrument="@Instrument"
                          InstrumentViewModel="@ViewModel"
                          DimensionFilters="@DimensionFilters"
                          IsDashpage="true"/>
            }
            else
            {
                <MetricTableWrapper Applications="@Applications"
                                Duration="@Duration"
                                Instrument="@Instrument"
                                InstrumentViewModel="@ViewModel"
                                DimensionFilters="@DimensionFilters"/>
            }
        </div>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public required Metrics.MetricViewKind ActiveView { get; set; }

    [Parameter]
    public required List<OtlpApplication> Applications { get; set; }
}
