@namespace Aspire.Dashboard.Components.Controls

@using Aspire.Dashboard.Components.Controls.Chart
@using Aspire.Dashboard.Resources

@implements IAsyncDisposable
@inherits Aspire.Dashboard.Components.Controls.Chart.ChartBase

<div id="metric-table-container" style="height: 40vh; overflow-y: auto; margin-bottom: 20px;">
   @if (IsHistogramInstrument())
   {
       if (_showCount)
       {
           <MetricTableGrid TableType="TableType.Count" Instrument="_instrument" Metrics="@_metricsView" ValueUnit="@_unitColumnHeader" />
       }
       else
       {
           <MetricTableGrid TableType="TableType.Histogram" Instrument="_instrument" Metrics="@_metricsView" ValueUnit="@_unitColumnHeader" />
       }
   }
   else
   {
       <MetricTableGrid TableType="TableType.Instrument" Instrument="_instrument" Metrics="@_metricsView" ValueUnit="@_unitColumnHeader" />
   }
</div>
