@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Otlp.Model

<div class="metric-tab">
    <MetricTable InstrumentViewModel="@InstrumentViewModel" Duration="Duration" Applications="Applications" />

    @if (!IsDashpage)
    {
        <ChartFilters IsInsideModal="@IsDashpage" InstrumentViewModel="@InstrumentViewModel" InstrumentData="@InstrumentData" DimensionFilters="@DimensionFilters"/>
    }
</div>

@code {
    [Parameter]
    public required List<OtlpApplication> Applications { get; set; }

    [Parameter, EditorRequired]
    public required TimeSpan Duration { get; set; }

    [Parameter, EditorRequired]
    public required List<DimensionFilterViewModel> DimensionFilters { get; set; }

    [Parameter, EditorRequired]
    public required OtlpInstrumentData InstrumentData { get; set; }

    [Parameter, EditorRequired]
    public required InstrumentViewModel InstrumentViewModel { get; set; }

    [Parameter]
    public bool IsDashpage { get; set; }
}
