@inject IStringLocalizer<Resources.Routes> Loc

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>@Loc[Resources.Routes.RoutesPageTitle]</PageTitle>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p role="alert">@Loc[Resources.Routes.RoutesNotFoundDescription]</p>
        </LayoutView>
    </NotFound>
</Router>
