@using Aspire.Dashboard.Resources
@inject IStringLocalizer<Layout> LayoutLoc

<div class="content-layout">
    @if (ViewportInformation.IsDesktop)
    {
        <div style="grid-area: page-header">
            @if (AddNewlineOnDesktopToolbar)
            {
                <h1 class="page-header">@PageTitle</h1>
            }

            <FluentToolbar Orientation="Orientation.Horizontal">
                @if (AddNewlineOnDesktopToolbar)
                {
                    @ToolbarContent
                }
                else
                {
                    <h1 class="page-header">@PageTitle</h1>
                    @ToolbarContent
                }
            </FluentToolbar>
        </div>

        <div style="grid-area: main; overflow: auto;">@MainContent</div>

        @if (FooterContent is not null && ShouldShowFooter)
        {
            <div style="grid-area: footer">@FooterContent</div>
        }
    }
    else
    {
        <FluentToolbar Orientation="Orientation.Horizontal" Style="grid-area: page-header">
            <h1 class="page-header">@PageTitle</h1>
            @MobilePageTitleToolbarContent
        </FluentToolbar>

        <div style="grid-area: main; overflow: auto;">@MainContent</div>

        if ((FooterContent is not null && ShouldShowFooter) || ToolbarContent is not null)
        {
            <div style="grid-area: footer">
                @if (FooterContent is not null && ShouldShowFooter)
                {
                    @FooterContent
                }

                @if (ToolbarContent is not null)
                {
                    <FluentButton Class="mobile-toolbar"
                                  Appearance="@Appearance.Accent"
                                  OnClick="@OpenMobileToolbarAsync">
                        @LayoutLoc[nameof(Layout.PageLayoutViewFilters)]
                    </FluentButton>
                }
            </div>
        }
    }

</div>
