@using Aspire.Dashboard.Resources

@inject IStringLocalizer<Layout> LayoutLoc
@inject IStringLocalizer<ControlsStrings> ControlsStringsLoc

<div class="content-layout">
    @if (ViewportInformation.IsDesktop)
    {
        <div style="grid-area: page-header">
            @if (AddNewlineOnDesktopToolbar)
            {
                @PageTitleSection

                <FluentToolbar Orientation="Orientation.Horizontal">
                    @ToolbarSection
                </FluentToolbar>
            }
            else
            {
                <FluentToolbar Class="title-toolbar-inline" Orientation="Orientation.Horizontal">
                    @PageTitleSection
                    @ToolbarSection
                </FluentToolbar>
            }
        </div>

        <div style="grid-area: main; overflow: auto;">@MainSection</div>

        @if (FooterSection is not null && ShouldShowFooter)
        {
            <div style="grid-area: footer">@FooterSection</div>
        }
    }
    else if (IsSummaryDetailsViewOpen)
    {
        <div style="@GetMobileMainStyle()">@MainSection</div>
    }
    else
    {
        <FluentToolbar Orientation="Orientation.Horizontal" Style="grid-area: page-header">
            @PageTitleSection
            @MobilePageTitleToolbarSection
        </FluentToolbar>

        <div style="@GetMobileMainStyle()">@MainSection</div>

        if ((FooterSection is not null && ShouldShowFooter) || ToolbarSection is not null)
        {
            <div style="grid-area: footer">
                @if (FooterSection is not null && ShouldShowFooter)
                {
                    @FooterSection
                }

                @if (ToolbarSection is not null)
                {
                    <FluentButton Class="mobile-toolbar"
                                  Appearance="@Appearance.Accent"
                                  OnClick="@OpenMobileToolbarAsync">
                        @(MobileToolbarButtonText ?? LayoutLoc[nameof(Layout.PageLayoutViewFilters)])
                    </FluentButton>
                }
            </div>
        }
    }

</div>
