@using Aspire.Dashboard.Resources

@inject IStringLocalizer<Layout> LayoutLoc
@inject IStringLocalizer<ControlsStrings> ControlsStringsLoc

<div class="content-layout">
    @if (ViewportInformation.IsDesktop)
    {
        <div style="grid-area: page-header">
            @if (AddNewlineOnToolbar)
            {
                @PageTitleSection

                <FluentToolbar Orientation="Orientation.Horizontal">
                    @ToolbarSection
                </FluentToolbar>
            }
            else
            {
                <FluentToolbar Class="title-toolbar-inline" Orientation="Orientation.Horizontal">
                    @PageTitleSection
                    @ToolbarSection
                </FluentToolbar>
            }
        </div>

        <div style="grid-area: main; overflow: auto;">@MainSection</div>

        @if (FooterSection is not null && ShouldShowFooter)
        {
            <div style="grid-area: footer">@FooterSection</div>
        }
    }
    else if (IsSummaryDetailsViewOpen)
    {
        <div style="@GetMobileMainStyle()">@MainSection</div>
    }
    else
    {
        <FluentToolbar Orientation="Orientation.Horizontal" Style="grid-area: page-header">
            @if (MobilePageTitleToolbarSection is null && (MobileToolbarButtonText is null || !AddNewlineOnToolbar))
            {
                @PageTitleSection

                <FluentButton Class="single-line-toolbar-button"
                              Appearance="@Appearance.Lightweight"
                              OnClick="@OpenMobileToolbarAsync"
                              aria-label="@(MobileToolbarButtonText ?? LayoutLoc[nameof(Layout.PageLayoutViewFilters)])">
                    <FluentIcon Icon="Icons.Regular.Size16.Filter" Color="Color.Accent" Class="align-text-bottom" />
                    @MobileToolbarButtonText
                </FluentButton>
            }
            else
            {
                <div style="width: 100%">@PageTitleSection</div>

                @MobilePageTitleToolbarSection
                <FluentButton Class="mobile-toolbar-button"
                              Appearance="@Appearance.Lightweight"
                              OnClick="@OpenMobileToolbarAsync"
                              aria-label="@(MobileToolbarButtonText ?? LayoutLoc[nameof(Layout.PageLayoutViewFilters)])">
                    <FluentIcon Icon="Icons.Regular.Size16.Filter" Color="Color.Accent" Class="align-text-bottom" />
                    @MobileToolbarButtonText
                </FluentButton>
            }
        </FluentToolbar>

        <div style="@GetMobileMainStyle()">@MainSection</div>

        if (FooterSection is not null && ShouldShowFooter)
        {
            <div style="grid-area: footer">
                @FooterSection
            </div>
        }
    }

</div>
