@using Aspire.Dashboard.Components.Dialogs
@using Aspire.Dashboard.Components.CustomIcons;
@using Aspire.Dashboard.Model
@using Microsoft.AspNetCore.Http
@inject IDashboardViewModelService dashboardViewModelService
@inject IDialogService dialogService
@inherits LayoutComponentBase

<div>
    <FluentLayout>
        <FluentHeader>
            <div class="header-title">
                <FluentIcon Value="@(new AspireIcons.Size32.Logo())" Style="height: 32px;"></FluentIcon>
                <span>@dashboardViewModelService.ApplicationName Dashboard</span>
            </div>
            <div class="header-right">
                <FluentButton Appearance="Appearance.Stealth" OnClick="LaunchSettings" IconEnd="@(new Icons.Regular.Size24.Settings())"
                              Title="Launch Settings" aria-label="Launch Settings" />
            </div>
        </FluentHeader>
        <FluentStack Orientation="Orientation.Horizontal" Width="100%">
            <div class="nav-menu-container">
                <FluentNavMenu Width="250" Collapsible="true" role="menu">
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.AppGeneric())" Href="/" Match="NavLinkMatch.All" role="menuitem">Projects</FluentNavLink>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.BinFull())" Href="/Containers" role="menuitem">Containers</FluentNavLink>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.AppGeneric())" Href="/Executables" role="menuitem">Executables</FluentNavLink>
                    <FluentNavGroup Title="Logs" Icon="@(new Icons.Regular.Size24.SlideText())" Expanded="true" Gap="10px 0;" role="menuitem menu">
                        <FluentNavLink Icon="@(new Icons.Regular.Size24.SlideText())" Href="/ProjectLogs" role="menuitem">Project</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size24.SlideText())" Href="/ContainerLogs" role="menuitem">Container</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size24.SlideText())" Href="/ExecutableLogs" role="menuitem">Executable</FluentNavLink>
                        <FluentNavLink Icon="@(new Icons.Regular.Size24.SlideTextSparkle())" Href="/StructuredLogs" role="menuitem">Structured</FluentNavLink>
                    </FluentNavGroup>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.GanttChart())" Href="/Traces" role="menuitem">Traces</FluentNavLink>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.ChartMultiple())" Href="/Metrics" role="menuitem">Metrics</FluentNavLink>
                </FluentNavMenu>
            </div>
            <FluentBodyContent Class="custom-body-content">
                @Body
            </FluentBodyContent>

        </FluentStack>
    </FluentLayout>
    <FluentDialogProvider />
    <FluentTooltipProvider />
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</div>
