@using Aspire.Dashboard.Components.Dialogs
@using Aspire.Dashboard.Components.CustomIcons;
@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Resources
@using Microsoft.AspNetCore.Http
@inherits LayoutComponentBase

<div class="layout">
    <FluentHeader>
        <div class="header-title">
            <FluentAnchor IconStart="@(new AspireIcons.Size32.Logo())" Appearance="Appearance.Stealth" Href="/" Class="logo">
                @string.Format(Loc[Layout.MainLayoutDashboardName], ResourceService.ApplicationName)
            </FluentAnchor>
        </div>
        <div class="header-right">
            <FluentAnchor Appearance="Appearance.Stealth" IconEnd="@(new AspireIcons.Size24.GitHub())"
                          Href="https://aka.ms/dotnet/aspire/repo" Target="_blank" Rel="noreferrer noopener"
                          Title="@Loc[Layout.MainLayoutAspireRepoLink]" aria-label="@Loc[Layout.MainLayoutAspireRepoLink]" />
            <FluentAnchor Appearance="Appearance.Stealth" IconEnd="@(new Icons.Regular.Size24.QuestionCircle())"
                          Href="https://aka.ms/dotnet/aspire/dashboard" Target="_blank" Rel="noreferrer noopener"
                          Title="@Loc[Layout.MainLayoutAspireDashboardHelpLink]" aria-label="@Loc[Layout.MainLayoutAspireDashboardHelpLink]" />
            <FluentButton Appearance="Appearance.Stealth" OnClick="LaunchSettings" IconEnd="@(new Icons.Regular.Size24.Settings())"
                          Title="@Loc[Layout.MainLayoutLaunchSettings]" aria-label="@Loc[Layout.MainLayoutLaunchSettings]" />
        </div>
    </FluentHeader>
    <NavMenu />
    <FluentBodyContent Class="custom-body-content">
        @Body
    </FluentBodyContent>

    <FluentDialogProvider />
    <FluentTooltipProvider />
    <div id="blazor-error-ui">
        @Loc[Layout.MainLayoutUnhandledErrorMessage]
        <a href="" class="reload">@Loc[Layout.MainLayoutUnhandledErrorReload]</a>
        <a class="dismiss">🗙</a>
    </div>
</div>
