@using Aspire.Dashboard.Components.Dialogs
@using Aspire.Dashboard.Components.CustomIcons;
@using Aspire.Dashboard.Model
@using Microsoft.AspNetCore.Http
@inject IDashboardViewModelService dashboardViewModelService
@inject IDialogService dialogService
@inherits LayoutComponentBase

<div class="layout">
    <FluentHeader>
        <div class="header-title">
            <FluentAnchor IconStart="@(new AspireIcons.Size32.Logo())" Appearance="Appearance.Stealth" Href="/" Class="logo">
                @dashboardViewModelService.ApplicationName Dashboard
            </FluentAnchor>
        </div>
        <div class="header-right">
            <FluentAnchor Appearance="Appearance.Stealth" IconEnd="@(new AspireIcons.Size24.GitHub())"
                          Href="https://aka.ms/dotnet/aspire/repo" Target="_blank" Rel="noreferrer noopener"
                          Title=".NET Aspire Repo" aria-label=".NET Aspire Repo" />
            <FluentAnchor Appearance="Appearance.Stealth" IconEnd="@(new Icons.Regular.Size24.QuestionCircle())"
                          Href="https://aka.ms/dotnet/aspire/dashboard" Target="_blank" Rel="noreferrer noopener"
                          Title="Help" aria-label="Help" />
            <FluentButton Appearance="Appearance.Stealth" OnClick="LaunchSettings" IconEnd="@(new Icons.Regular.Size24.Settings())"
                          Title="Launch Settings" aria-label="Launch Settings" />
        </div>
    </FluentHeader>
    <NavMenu />
    <FluentBodyContent Class="custom-body-content">
        @Body
    </FluentBodyContent>

    <FluentDialogProvider />
    <FluentTooltipProvider />
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</div>
