@using Aspire.Dashboard.Components.Dialogs
@using Aspire.Dashboard.Components.CustomIcons;
@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Resources
@using Microsoft.AspNetCore.Http
@inherits LayoutComponentBase

<div class="layout">
    <div class="aspire-icon">
        <FluentAnchor Appearance="Appearance.Stealth" Href="/" Class="logo"
                      title="@Loc[nameof(Layout.MainLayoutAspire)]"
                      aria-label="@Loc[nameof(Layout.MainLayoutAspire)]">
            <img src="/Logo.svg" />
        </FluentAnchor>
    </div>
    
    <FluentHeader>
        <FluentAnchor Appearance="Appearance.Stealth" Href="/" Class="logo">
            <ApplicationName />
        </FluentAnchor>
        <div class="flex-filler"></div>
        <FluentAnchor Appearance="Appearance.Stealth"
                        Href="https://aka.ms/dotnet/aspire/repo" Target="_blank" Rel="noreferrer noopener"
                        Title="@Loc[nameof(Layout.MainLayoutAspireRepoLink)]" aria-label="@Loc[nameof(Layout.MainLayoutAspireRepoLink)]">
            <FluentIcon Value="@(new AspireIcons.Size24.GitHub())" Color="Color.Neutral" />
        </FluentAnchor>
        <FluentAnchor Appearance="Appearance.Stealth"
                        Href="https://aka.ms/dotnet/aspire/dashboard" Target="_blank" Rel="noreferrer noopener"
                        Title="@Loc[nameof(Layout.MainLayoutAspireDashboardHelpLink)]" aria-label="@Loc[nameof(Layout.MainLayoutAspireDashboardHelpLink)]">
            <FluentIcon Value="@(new Icons.Regular.Size24.QuestionCircle())" Color="Color.Neutral" />
        </FluentAnchor>
        <FluentButton Appearance="Appearance.Stealth" OnClick="LaunchSettings"
                        Title="@Loc[nameof(Layout.MainLayoutLaunchSettings)]" aria-label="@Loc[nameof(Layout.MainLayoutLaunchSettings)]">
            <FluentIcon Value="@(new Icons.Regular.Size24.Settings())" Color="Color.Neutral" />
        </FluentButton>
    </FluentHeader>
    <NavMenu />
    <FluentBodyContent Class="custom-body-content">
        @Body
    </FluentBodyContent>

    <FluentDialogProvider />
    <FluentTooltipProvider />
    <div id="blazor-error-ui">
        @Loc[nameof(Layout.MainLayoutUnhandledErrorMessage)]
        <a href="" class="reload">@Loc[nameof(Layout.MainLayoutUnhandledErrorReload)]</a>
        <a class="dismiss">🗙</a>
    </div>
</div>
