@using Aspire.Dashboard.Components.CustomIcons;
@using Aspire.Dashboard.Resources

@inject IStringLocalizer<Layout> Loc

<div class="layout">
    <div class="aspire-icon">
        <FluentAnchor Appearance="Appearance.Stealth" Href="/" Class="logo"
                      title="@Loc[nameof(Layout.MainLayoutAspire)]"
                      aria-label="@Loc[nameof(Layout.MainLayoutAspire)]">
            <FluentIcon Value="@(new AspireIcons.Size24.Logo())"/>
        </FluentAnchor>
    </div>

<div id="test-header">
</div>

    <FluentHeader>
        <FluentAnchor Appearance="Appearance.Stealth" Href="/" Class="logo">
            <ApplicationName/>
        </FluentAnchor>
        <div class="flex-filler"></div>

        <UserProfile/>
        <MobileNavigationHamburger LaunchHelpAsync="@LaunchHelpAsync"
                                   LaunchSettingsAsync="@LaunchSettingsAsync"/>
    </FluentHeader>

    <div class="messagebar-container">
        <FluentMessageBarProvider Section="@MessageBarSection" Class="top-messagebar"/>
    </div>
    <FluentBodyContent Class="custom-body-content">
        <FluentToastProvider/>
        @LayoutBody
    </FluentBodyContent>

    <FluentDialogProvider/>
    <FluentTooltipProvider/>
    <div id="blazor-error-ui">
        @Loc[nameof(Layout.MainLayoutUnhandledErrorMessage)]
        <a href="" class="reload">@Loc[nameof(Layout.MainLayoutUnhandledErrorReload)]</a>
        <a class="dismiss">🗙</a>
    </div>
</div>

@code {
[Parameter] public RenderFragment? LayoutBody { get; set; }
[Parameter] public required Func<Task> LaunchHelpAsync { get; set; }
[Parameter] public required Func<Task> LaunchSettingsAsync { get; set; }
[Parameter] public required string MessageBarSection { get; set; }
}
