@using Aspire.Dashboard.Components.Dialogs
@inject IDialogService dialogService

<div class="nav-menu-container">
    <FluentNavMenu Width="250" Collapsible="false" @bind-Expanded="@SidebarExpanded">
        <FluentNavLink Icon="@(new Icons.Regular.Size24.AppFolder())" Href="/" Match="NavLinkMatch.All">Resources</FluentNavLink>
        <FluentNavGroup Title="Logs" Icon="@(new Icons.Regular.Size24.SlideText())" SidebarExpanded="true" Gap="10px 0;">
            <FluentNavLink Icon="@(new Icons.Regular.Size24.SlideText())" Href="/ProjectLogs">Project</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.SlideText())" Href="/ContainerLogs">Container</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.SlideText())" Href="/ExecutableLogs">Executable</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.SlideTextSparkle())" Href="/StructuredLogs">Structured</FluentNavLink>
        </FluentNavGroup>
        <FluentNavLink Icon="@(new Icons.Regular.Size24.GanttChart())" Href="/Traces">Traces</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size24.ChartMultiple())" Href="/Metrics">Metrics</FluentNavLink>
        <FluentSpacer></FluentSpacer>
        <FluentDivider></FluentDivider>
        <FluentNavLink Icon="@ToggleSidebarIcon" @onclick="ToggleSidebarExpansion">
            @ToggleSidebarText
        </FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size24.Settings())" @onclick="LaunchSettings">Settings</FluentNavLink>
    </FluentNavMenu>
</div>
