<div class="nav-menu-container">
    <FluentNavMenu @bind-Expanded="@Expanded" Width="250" Collapsible="true">
        <FluentNavLink Icon="@(new Icons.Regular.Size24.AppFolder())" Href="/" Match="NavLinkMatch.All" Tooltip="Resources">Resources</FluentNavLink>
        <FluentNavGroup Title="Monitoring" Icon="@(new Icons.Regular.Size24.SlideText())" Expanded="true" Gap="10px 0;" Tooltip="Monitoring">
            <FluentNavLink Icon="@(new Icons.Regular.Size24.SlideText())" Href="/ConsoleLogs" Tooltip="Console Logs">Console Logs</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.SlideTextSparkle())" Href="/StructuredLogs" Tooltip="Structured Logs">Structured Logs</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.GanttChart())" Href="/Traces" Tooltip="Traces">Traces</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.ChartMultiple())" Href="/Metrics" Tooltip="Metrics">Metrics</FluentNavLink>
        </FluentNavGroup>
    </FluentNavMenu>
</div>
@code {
    bool Expanded = true;
}
