@using Aspire.Dashboard.Resources
@inject IStringLocalizer<Layout> Loc

<div class="nav-menu-container">
    <FluentNavMenu @bind-Expanded="@Expanded" Width="250" Collapsible="true">
        <FluentNavLink Icon="@(new Icons.Regular.Size24.AppFolder())" Href="/" Match="NavLinkMatch.All" Tooltip="@Loc[Layout.NavMenuResourcesTab]">@Loc[Layout.NavMenuResourcesTab]</FluentNavLink>
        <FluentNavGroup Title="@Loc[Layout.NavMenuMonitoringTab]" Icon="@(new Icons.Regular.Size24.SlideText())" Expanded="true" Gap="10px 0;" Tooltip="@Loc[Layout.NavMenuMonitoringTab]">
            <FluentNavLink Icon="@(new Icons.Regular.Size24.SlideText())" Href="/ConsoleLogs" Tooltip="@Loc[Layout.NavMenuConsoleLogsTab]">@Loc[Layout.NavMenuConsoleLogsTab]</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.SlideTextSparkle())" Href="/StructuredLogs" Tooltip="@Loc[Layout.NavMenuStructuredLogsTab]">@Loc[Layout.NavMenuStructuredLogsTab]</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.GanttChart())" Href="/Traces" Tooltip="@Loc[Layout.NavMenuTracesTab]">@Loc[Layout.NavMenuTracesTab]</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.ChartMultiple())" Href="/Metrics" Tooltip="@Loc[Layout.NavMenuMetricsTab]">@Loc[Layout.NavMenuMetricsTab]</FluentNavLink>
        </FluentNavGroup>
    </FluentNavMenu>
</div>
@code {
    bool Expanded = true;
}
