<div class="nav-menu-container">
    <FluentNavMenu Width="250" Collapsible="true">
        <FluentNavLink Icon="@(new Icons.Regular.Size24.AppFolder())" Href="/" Match="NavLinkMatch.All">Resources</FluentNavLink>
        <FluentNavGroup Title="Monitoring" Icon="@(new Icons.Regular.Size24.SlideText())" Expanded="true" Gap="10px 0;">
            <FluentNavLink Icon="@(new Icons.Regular.Size24.SlideText())" Href="/ConsoleLogs">Console Logs</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.SlideTextSparkle())" Href="/StructuredLogs">Structured Logs</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.GanttChart())" Href="/Traces">Traces</FluentNavLink>
            <FluentNavLink Icon="@(new Icons.Regular.Size24.ChartMultiple())" Href="/Metrics">Metrics</FluentNavLink>
        </FluentNavGroup>
    </FluentNavMenu>
</div>
