@using Aspire.Dashboard.Resources
@inject IJSRuntime JS
@inject IStringLocalizer<ControlsStrings> Loc

<div class="@GetContainerClass()">
    @if (EnableMasking && IsMasked)
    {
        <span class="cellText">
            &#x25cf;&#x25cf;&#x25cf;&#x25cf;&#x25cf;&#x25cf;&#x25cf;&#x25cf;
        </span>
    }
    else if (EnableHighlighting)
    {
        <span class="cellText" title="@(ToolTip ?? Value)">
            <FluentHighlighter HighlightedText="@HighlightText"
                               Text="@Value" />
        </span>
    }
    else
    {
        <span class="cellText" title="@(ToolTip ?? Value)">
            @(MaxDisplayLength.HasValue ? TrimLength(Value) : Value)
        </span>
    }
    @if (EnableMasking)
    {
        <FluentButton Appearance="Appearance.Lightweight"
                      IconEnd="@(IsMasked ? _unmaskIcon : _maskIcon)"
                      Title="@(IsMasked ? Loc[ControlsStrings.GridValueMaskShowValue] : Loc[ControlsStrings.GridValueMaskHideValue])"
                      OnClick="ToggleMaskStateAsync"
                      aria-label="@(IsMasked ? Loc[ControlsStrings.GridValueMaskShowValue] : Loc[ControlsStrings.GridValueMaskHideValue])" />
    }
    <FluentButton Appearance="Appearance.Lightweight"
                  Id="@_anchorId"
                  IconEnd="@(new Icons.Regular.Size16.Copy())"
                  Class="defaultHidden"
                  @onclick="@(() => CopyTextToClipboardAsync(Value, @_anchorId))"
                  aria-label="@Loc[ControlsStrings.GridValueCopyToClipboard]" />
    <FluentTooltip Anchor="@_anchorId" Position="TooltipPosition.Top">@PreCopyToolTip</FluentTooltip>
</div>
