@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Otlp.Model
@using Aspire.Dashboard.Otlp.Model.MetricValues
@using Aspire.Dashboard.Resources
@namespace Aspire.Dashboard.Components.Controls
@implements IAsyncDisposable
@inject IStringLocalizer<ControlsStrings> Loc

<div id="metric-table-container" style="height: 40vh; overflow-y: auto; margin-bottom: 20px;">
   @if (IsHistogramInstrument())
   {
       if (_showCount)
       {
           <MetricTableGrid TableType="TableType.Count" Instrument="_instrument" Metrics="@_metricsView" AnyDimensionsShown="_anyDimensionsShown" />
       }
       else
       {
           <MetricTableGrid TableType="TableType.Histogram" Instrument="_instrument" Metrics="@_metricsView" AnyDimensionsShown="_anyDimensionsShown" />
       }
   }
   else
   {
       <MetricTableGrid TableType="TableType.Instrument" Instrument="_instrument" Metrics="@_metricsView" AnyDimensionsShown="_anyDimensionsShown" />
   }
</div>

<FluentStack Orientation="Orientation.Vertical" Style="margin-bottom: 20px;">
    <FluentSwitch Class="table-switch"
                  @bind-Value="@_onlyShowValueChanges"
                  @bind-Value:after="SettingsChangedAsync"
                  Label="@Loc[nameof(ControlsStrings.MetricTableShowOnlyValueChanges)]"/>
</FluentStack>
