@using Aspire.Dashboard.Components.Pages

@inject IStringLocalizer<Dashboard.Resources.Metrics> Loc

<h3 class="meter-name-title">@Title</h3>

<FluentDataGrid
    Style="max-width:1100px;"
    Items="@Instruments.OrderBy(i => i.DisplayName).AsQueryable()"
    GridTemplateColumns="3fr 5fr"
    TGridItem="MetricInstrument">
    <ChildContent>
        <TemplateColumn Title="@Loc[nameof(Dashboard.Resources.Metrics.MetricsInsturementNameGridNameColumnHeader)]">
            <FluentAnchor Href="@context.Url" Appearance="Appearance.Lightweight">
                @context.DisplayName
            </FluentAnchor>
        </TemplateColumn>

        @if (ShowDescriptionColumn)
        {
            <PropertyColumn Title="@Loc[nameof(Dashboard.Resources.Metrics.MetricsInsturementDescriptionGridNameColumnHeader)]" Property="@(c => c.Description)" Class="multiline-text"/>
        }
    </ChildContent>
</FluentDataGrid>

@code {
    [Parameter, EditorRequired]
    public required string Title { get; set; }

    [Parameter, EditorRequired]
    public required Metrics.MetricsViewModel PageViewModel { get; set; }

    [Parameter, EditorRequired]
    public required IEnumerable<MetricInstrument> Instruments { get; set; }

    [Parameter, EditorRequired]
    public required bool ShowDescriptionColumn { get; set; }

    public record MetricInstrument(string DisplayName, string Url, string? Description);
}
