@using Aspire.Dashboard.Resources
@inject IStringLocalizer<ControlsStrings> Loc
@typeparam T

<div class="summary-details-container">
    @if (!ViewportInformation.IsDesktop)
    {
        @if (_internalShowDetails)
        {
            <DetailView
                DetailsTitle="@DetailsTitle"
                DetailsTitleTemplate="@(SelectedValue is not null ? DetailsTitleTemplate?.Invoke(SelectedValue) : null)"
                HandleDismissAsync="@HandleDismissAsync"
                HandleToggleOrientation="@HandleToggleOrientation"
                Details="@(SelectedValue is not null ? Details?.Invoke(SelectedValue) : null)"
                Orientation="@Orientation" />
        }
        else
        {
            <div class="summary-container">
                @Summary
            </div>
        }
    }
    else
    {
        <FluentSplitter Orientation="@Orientation" Collapsed="@(!_internalShowDetails)"
                        OnResized="HandleSplitterResize"
                        Panel1Size="@_panel1Size" Panel2Size="@_panel2Size"
                        Panel1MinSize="150px" Panel2MinSize="150px"
                        BarSize="5"
                        @ref="_splitterRef">
            <Panel1>
                <div class="summary-container">
                    @Summary
                </div>
            </Panel1>
            <Panel2>
                @if (_internalShowDetails)
                {
                    <DetailView
                        DetailsTitle="@DetailsTitle"
                        DetailsTitleTemplate="@(SelectedValue is not null ? DetailsTitleTemplate?.Invoke(SelectedValue) : null)"
                        HandleDismissAsync="@HandleDismissAsync"
                        HandleToggleOrientation="@HandleToggleOrientation"
                        Details="@(SelectedValue is not null ? Details?.Invoke(SelectedValue) : null)"
                        Orientation="@Orientation"/>
                }
            </Panel2>
        </FluentSplitter>
    }
</div>
