@using Aspire.Dashboard.Otlp.Model
@using Metrics = Aspire.Dashboard.Resources.Metrics

<FluentTreeView Class="genai-message-tree" @bind-CurrentSelected="@PageViewModel.SelectedTreeItem" @bind-CurrentSelected:after="HandleSelectedTreeItemChangedAsync">
    <ChildContent>
        <FluentTreeItem @key="@PageViewModel.Span" Data="@PageViewModel.Span" title="@PageViewModel.Span.Name" InitiallySelected="@(SelectedItem is null)">
            <span class="llm-badge">LLM</span> @PageViewModel.Span.Name
        </FluentTreeItem>

        @foreach (var itemVM in PageViewModel.Items)
        {
            <FluentTreeItem @key="itemVM"
                            Data="@itemVM.Index"
                            title="@itemVM.GetTitleBadge(Loc).Text"
                            InitiallySelected="@(itemVM.Index == SelectedItem?.Index)">
                <div class="message-tree-item-container">
                    <GenAIItemTitle Item="itemVM" ResourceName="@itemVM.ResourceName" />
                </div>
            </FluentTreeItem>
        }
    </ChildContent>
</FluentTreeView>
