@if (_showUserProfileMenu)
{
    <AuthorizeView>
        <Authorized>
            <div class="profile-menu-container">
                <FluentProfileMenu Initials="@_initials"
                                   EMail="@_username"
                                   FullName="@_name"
                                   ButtonSize="@ButtonSize"
                                   FooterLink="">
                    <HeaderTemplate>
                        <FluentStack VerticalAlignment="VerticalAlignment.Center">
                            <FluentLabel>@Loc[nameof(Resources.Login.LoggedInAs)]</FluentLabel>
                            <FluentSpacer />
                            <form @formname="sign-out-form" class="sign-out-form" action="authentication/logout" method="post">
                                <AntiforgeryToken />
                                <FluentButton Appearance="Appearance.Stealth" Type="ButtonType.Submit">Sign out</FluentButton>
                            </form>
                        </FluentStack>
                    </HeaderTemplate>
                    <ChildContent>
                        <FluentStack class="inner-persona-container">
                            <FluentPersona Initials="@_initials" ImageSize="@ImageSize" Class="inner-persona">
                                <div class="full-name">@_name</div>
                                <div class="user-id">@_username</div>
                            </FluentPersona>
                        </FluentStack>
                    </ChildContent>
                </FluentProfileMenu>
            </div>
        </Authorized>
    </AuthorizeView>
}
