@using Aspire.Dashboard.Components.Controls.Chart
@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Model.Assistant
@using Aspire.Dashboard.Model.Otlp
@using Aspire.Dashboard.Otlp.Model
@using Aspire.Dashboard.Resources
@using Aspire.Dashboard.Utils
@using Aspire.Dashboard.Extensions
@using System.Globalization
@using Aspire.Dashboard.Components.Controls.Grid
@using Aspire.Dashboard.Components.CustomIcons
@using Dialogs = Aspire.Dashboard.Resources.Dialogs

@inject IStringLocalizer<AIAssistant> Loc
@inject IStringLocalizer<Dialogs> DialogsLoc

<div class="copilot-chat-panel">
    <div class="copilot-chat-container">
        <div class="copilot-chat-scroll-region">
            <div class="copilot-chat-animation">
                <div class="copilot-chat-header">
                    <div class="copilot-chat-header-flex">
                        <div style="display: flex;column-gap: 8px;">
                            <FluentIcon Value="@s_gitHubCopilotIcon" Width="20px" Style="vertical-align:sub;" />
                            <span class="copilot-chat-header-title">@Loc[nameof(AIAssistant.SidebarTitle)]</span>
                        </div>
                        <div style="align-content: center;display: flex;flex-wrap: wrap;">
                            @if (Content.Chat.DisplayState == AssistantChatDisplayState.Chat)
                            {
                                <FluentButton Appearance="Appearance.Stealth" OnClick="() => StartNewChatAsync()" aria-label="@Loc[nameof(AIAssistant.SidebarNewChat)]" Title="@Loc[nameof(AIAssistant.SidebarNewChat)]">
                                    <FluentIcon Value="@(new Icons.Regular.Size16.ChatAdd())" Width="16px" Color="Color.Neutral" />
                                </FluentButton>
                                <FluentButton Appearance="Appearance.Stealth" OnClick="() => ExpandDialogAsync(openedForMobileView: false)" aria-label="@Loc[nameof(AIAssistant.SidebarExpandDialog)]" Title="@Loc[nameof(AIAssistant.SidebarExpandDialog)]">
                                    <FluentIcon Value="@(new Icons.Regular.Size16.ArrowExpand())" Width="16px" Color="Color.Neutral" />
                                </FluentButton>
                            }
                            <FluentButton Appearance="Appearance.Stealth" OnClick="CloseDialog" aria-label="@DialogsLoc[nameof(Dialogs.DialogCloseButtonText)]" Title="@DialogsLoc[nameof(Dialogs.DialogCloseButtonText)]">
                                <FluentIcon Value="@(new Icons.Regular.Size16.Dismiss())" Width="16px" Color="Color.Neutral" />
                            </FluentButton>
                        </div>
                    </div>
                </div>
                <div class="copilot-chat-body">
                    <AssistantChat Class="chat-assistant-sidebar" ChatViewModel="@Content.Chat" ModelInitialized="OnModelInitialized" />
                </div>
            </div>
        </div>
    </div>
</div>
