@using Aspire.Dashboard.Model
@using Microsoft.Fast.Components.FluentUI;
@implements IDialogContentComponent<List<LogEntryPropertyViewModel>>

<FluentDialogBody>
    <FluentStack Orientation="Orientation.Vertical">
        <FluentToolbar Orientation="Orientation.Horizontal">
            <FluentSearch Placeholder="Filter..."
                            Immediate="true"
                            Autofocus="true"
                            @bind-Value="_filter"
                            @oninput="HandleFilter"
                            AfterBindValue="HandleClear"
                            slot="end" />
        </FluentToolbar>
        <div class="dialog-grid-container">
            <FluentDataGrid Items="@FilteredItems"
                            ResizableColumns="true"
                            Style="width:100%"
                            GenerateHeader="GenerateHeaderOption.Sticky"
                            GridTemplateColumns="1fr 2fr">
                <TemplateColumn Title="Name" Class="nameColumn" SortBy="@_nameSort" Sortable="true">
                    <GridValue Value="@context.Name" HighlightText="@_filter" />
                </TemplateColumn>
                <TemplateColumn Title="Value" Class="valueColumn" SortBy="@_valueSort" Sortable="true">
                    <GridValue Value="@context.Value" HighlightText="@_filter" />
                </TemplateColumn>
            </FluentDataGrid>
        </div>
    </FluentStack>
</FluentDialogBody>
