@using Aspire.Dashboard.Components.Controls.Chart
@using Aspire.Dashboard.Resources
@using Aspire.Dashboard.Components.Controls.Grid
@using Dialogs = Aspire.Dashboard.Resources.Dialogs

@inject IStringLocalizer<Dialogs> Loc

<div style="max-height: 44vh; overflow-y: auto;">
    <FluentDataGrid Items="@MetricView"
                    RowSize="DataGridRowSize.Medium"
                    GridTemplateColumns="2fr 1fr 1fr 1fr"
                    TGridItem="DataRow">
        <ChildContent>
            <SelectColumn TGridItem="DataRow"
                          SelectMode="DataGridSelectMode.Multiple"
                          SelectFromEntireRow="true"
                          @bind-SelectedItems="@SelectedItems" />
            <TemplateColumn Title="@Loc[nameof(Dialogs.ExemplarsDialogTraceColumnHeader)]" TooltipText="@(context => "Test")" Tooltip="true">
                @context.Name
            </TemplateColumn>
        </ChildContent>
        <EmptyContent>
            <FluentIcon Icon="Icons.Regular.Size24.ChartMultiple" />&nbsp;@Loc[nameof(ControlsStrings.MetricTableNoMetricsFound)]
        </EmptyContent>
    </FluentDataGrid>
</div>
