@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Resources
@using Aspire.Dashboard.Utils
@inject IStringLocalizer<Dialogs> Loc
@inject IStringLocalizer<ControlsStrings> ControlStringsLoc

<FluentDialogBody>
    <FluentStack Orientation="Orientation.Vertical" Style="display: flex; height: 100%" VerticalGap="0">
        <FluentRadioGroup TValue="string"
                          Label="@Loc[nameof(Dialogs.SettingsDialogTheme)]"
                          @bind-Value="@_currentSetting"
                          @bind-Value:after="SettingChangedAsync"
                          Orientation="Orientation.Vertical">
            <FluentRadio Value="@ThemeManager.ThemeSettingSystem">@Loc[nameof(Dialogs.SettingsDialogSystemTheme)]</FluentRadio>
            <FluentRadio Value="@ThemeManager.ThemeSettingLight">@Loc[nameof(Dialogs.SettingsDialogLightTheme)]</FluentRadio>
            <FluentRadio Value="@ThemeManager.ThemeSettingDark">@Loc[nameof(Dialogs.SettingsDialogDarkTheme)]</FluentRadio>
        </FluentRadioGroup>

        <FluentButton Appearance="Appearance.Stealth"
                      IconStart="@(new Icons.Regular.Size16.Delete())"
                      OnClick="ClearAllSignals"
                      Title="@Loc[nameof(ControlsStrings.ClearAllResources)]"
                      aria-label="@Loc[nameof(ControlsStrings.ClearAllResources)]">
            @ControlStringsLoc[nameof(ControlsStrings.ClearAllResources)]
        </FluentButton>

        <div class="version">@string.Format(Loc[nameof(Dialogs.SettingsDialogVersion)], VersionHelpers.DashboardDisplayVersion)</div>
    </FluentStack>

</FluentDialogBody>
