@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Otlp.Model
@using Microsoft.Fast.Components.FluentUI;
@implements IDialogContentComponent<SpanDetailsDialogViewModel>

<div>
    <FluentDialogBody>
        <FluentStack Orientation="Orientation.Vertical">
            <FluentToolbar Orientation="Orientation.Horizontal">
                <div>
                    Service <strong>@Content.Span.Source.ApplicationName</strong>
                </div>
                <FluentDivider Role="DividerRole.Presentation" Orientation="Orientation.Vertical" />
                <div>
                    Duration <strong>@DurationFormatter.FormatDuration(Content.Span.Duration)</strong>
                </div>
                <FluentDivider Role="DividerRole.Presentation" Orientation="Orientation.Vertical" />
                <div>
                    Start Time <strong>@DurationFormatter.FormatDuration(Content.Span.StartTime - Content.Span.Trace.FirstSpan.StartTime)</strong>
                </div>
                <FluentAnchor slot="end" Appearance="Appearance.Lightweight" Href="@($"/StructuredLogs?spanId={Content.Span.SpanId}")">View Logs</FluentAnchor>
                <FluentDivider slot="end" Role="DividerRole.Presentation" Orientation="Orientation.Vertical" />
                <FluentSearch Placeholder="Filter..."
                              Immediate="true"
                              Autofocus="true"
                              @bind-Value="_filter"
                              @oninput="HandleFilter"
                              AfterBindValue="HandleClear"
                              slot="end" />
            </FluentToolbar>
            <div class="dialog-grid-container">
                <FluentDataGrid Items="@FilteredItems"
                                ResizableColumns="true"
                                Style="width:100%"
                                GenerateHeader="GenerateHeaderOption.Sticky"
                                GridTemplateColumns="1fr 2fr">
                    <TemplateColumn Title="Name" Class="nameColumn" SortBy="@_nameSort" Sortable="true">
                        <GridValue Value="@context.Name" HighlightText="@_filter" />
                    </TemplateColumn>
                    <TemplateColumn Title="Value" Class="valueColumn" SortBy="@_valueSort" Sortable="true">
                        <GridValue Value="@context.Value" HighlightText="@_filter" />
                    </TemplateColumn>
                </FluentDataGrid>
                <h4>Application</h4>
                <FluentDataGrid Items="@FilteredApplicationItems"
                                ResizableColumns="true"
                                Style="width:100%"
                                GenerateHeader="GenerateHeaderOption.Sticky"
                                GridTemplateColumns="1fr 2fr">
                    <TemplateColumn Title="Name" Class="nameColumn">
                        <GridValue Value="@context.Name" HighlightText="@_filter" />
                    </TemplateColumn>
                    <TemplateColumn Title="Value" Class="valueColumn">
                        <GridValue Value="@context.Value" HighlightText="@_filter" />
                    </TemplateColumn>
                </FluentDataGrid>
            </div>
        </FluentStack>
    </FluentDialogBody>
</div>
