@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Otlp.Model
@using Microsoft.FluentUI.AspNetCore.Components;
@implements IDialogContentComponent<SpanDetailsDialogViewModel>

<FluentDialogHeader>
    <h3 style="display:inline-block;">@Dialog?.Instance.Parameters.Title</h3>
    <span class="span-id">@OtlpHelpers.ToShortenedId(Content.Span.SpanId)</span>
</FluentDialogHeader>

<div>
    <FluentDialogBody>
        <FluentStack Orientation="Orientation.Vertical">
            <FluentToolbar Orientation="Orientation.Horizontal">
                <div>
                    Service <strong>@Content.Span.Source.ApplicationName</strong>
                </div>
                <FluentDivider Role="DividerRole.Presentation" Orientation="Orientation.Vertical" />
                <div>
                    Duration <strong>@DurationFormatter.FormatDuration(Content.Span.Duration)</strong>
                </div>
                <FluentDivider Role="DividerRole.Presentation" Orientation="Orientation.Vertical" />
                <div>
                    Start Time <strong>@DurationFormatter.FormatDuration(Content.Span.StartTime - Content.Span.Trace.FirstSpan.StartTime)</strong>
                </div>
                <FluentAnchor slot="end" Appearance="Appearance.Lightweight" Href="@($"/StructuredLogs?spanId={Content.Span.SpanId}")">View Logs</FluentAnchor>
                <FluentDivider slot="end" Role="DividerRole.Presentation" Orientation="Orientation.Vertical" />
                <FluentSearch Placeholder="Filter..."
                              Immediate="true"
                              Autofocus="true"
                              @bind-Value="_filter"
                              @oninput="HandleFilter"
                              @bind-Value:after="HandleClear"
                              slot="end" />
            </FluentToolbar>
            <div class="dialog-grid-container">
                <PropertyGrid TItem="SpanPropertyViewModel"
                              Items="@FilteredItems"
                              GridTemplateColumns="1fr 2fr"
                              NameColumnValue="(vm) => vm.Name"
                              ValueColumnValue="(vm) => vm.Value"
                              NameSort="_nameSort"
                              ValueSort="_valueSort"
                              HighlightText="@_filter" />
                <h4>Application</h4>
                <PropertyGrid TItem="SpanPropertyViewModel"
                              Items="@FilteredApplicationItems"
                              GridTemplateColumns="1fr 2fr"
                              NameColumnValue="(vm) => vm.Name"
                              ValueColumnValue="(vm) => vm.Value"
                              NameSort="_nameSort"
                              ValueSort="_valueSort"
                              HighlightText="@_filter" />
            </div>
        </FluentStack>
    </FluentDialogBody>
</div>
