@page "/ConsoleLogs/{resourceName?}"
@namespace Aspire.Dashboard.Components.Pages
@inject IStringLocalizer<Dashboard.Resources.ConsoleLogs> Loc

<PageTitle>@string.Format(Loc[nameof(Dashboard.Resources.ConsoleLogs.ConsoleLogsPageTitle)], ResourceService.ApplicationName)</PageTitle>

<div class="resource-logs-layout">
    <h1 class="page-header">@Loc[nameof(Dashboard.Resources.ConsoleLogs.ConsoleLogsHeader)]</h1>
    <FluentToolbar Orientation="Orientation.Horizontal">
        <FluentSelect @ref="_resourceSelectComponent" TOption="Option<string>"
                      Items="@_resources"
                      OptionText="(o) => o.Text"
                      OptionValue="(o) => o.Value"
                      @bind-SelectedOption="ViewModel.SelectedOption"
                      @bind-SelectedOption:after="HandleSelectedOptionChangedAsync"
                      AriaLabel="@Loc[nameof(Dashboard.Resources.ConsoleLogs.ConsoleLogsSelectAResource)]"/>
        <FluentLabel Typo="Typography.Body">@(ViewModel?.Status ?? Loc[nameof(Dashboard.Resources.ConsoleLogs.ConsoleLogsLoadingResources)])</FluentLabel>
    </FluentToolbar>
    <LogViewer @ref="_logViewer" />
</div>
