@page "/ConsoleLogs/{resourceName?}"
@using Aspire.Dashboard.Resources
@namespace Aspire.Dashboard.Components.Pages
@inject IStringLocalizer<Dashboard.Resources.ConsoleLogs> Loc
@inject IStringLocalizer<ControlsStrings> ControlsStringsLoc

<PageTitle><ApplicationName ResourceName="@nameof(Dashboard.Resources.ConsoleLogs.ConsoleLogsPageTitle)" Loc="@Loc" /></PageTitle>

<div class="resource-logs-layout">
    <h1 class="page-header">@Loc[nameof(Dashboard.Resources.ConsoleLogs.ConsoleLogsHeader)]</h1>
    <FluentToolbar Orientation="Orientation.Horizontal">
        <FluentSelect @ref="_resourceSelectComponent"
                      Items="@_resources"
                      OptionValue="@(c => c.Id?.InstanceId)"
                      OptionDisabled="@(c => c.Id?.Type is Otlp.Model.OtlpApplicationType.ReplicaSet)"
                      @bind-SelectedOption="PageViewModel.SelectedOption"
                      @bind-SelectedOption:after="HandleSelectedOptionChangedAsync"
                      AriaLabel="@ControlsStringsLoc[nameof(ControlsStrings.SelectAResource)]">
            <OptionTemplate>
                 <ResourceSelectOptionTemplate ViewModel="@context" />
            </OptionTemplate>
        </FluentSelect>
        <FluentLabel Typo="Typography.Body" aria-live="polite" aria-label="@Loc[nameof(Dashboard.Resources.ConsoleLogs.LogStatusLabel)]">@PageViewModel.Status</FluentLabel>
    </FluentToolbar>
    <LogViewer @ref="_logViewer" />
</div>
