@page "/ConsoleLogs/{resourceName?}"
@namespace Aspire.Dashboard.Components.Pages
@using Aspire.Dashboard.Model
@inject IStringLocalizer<Dashboard.Resources.ConsoleLogs> Loc

<PageTitle>@DashboardClient.FormatApplicationName(Loc[nameof(Dashboard.Resources.ConsoleLogs.ConsoleLogsPageTitle)], () => InvokeAsync(StateHasChanged))</PageTitle>

<div class="resource-logs-layout">
    <h1 class="page-header">@Loc[nameof(Dashboard.Resources.ConsoleLogs.ConsoleLogsHeader)]</h1>
    <FluentToolbar Orientation="Orientation.Horizontal">
        <FluentSelect @ref="_resourceSelectComponent" TOption="Option<string>"
                      Items="@_resources"
                      OptionText="(o) => o.Text"
                      OptionValue="(o) => o.Value"
                      @bind-SelectedOption="_selectedOption"
                      @bind-SelectedOption:after="HandleSelectedOptionChangedAsync"
                      AriaLabel="@Loc[nameof(Dashboard.Resources.ConsoleLogs.ConsoleLogsSelectAResource)]"/>
        <FluentLabel Typo="Typography.Body" aria-live="polite" aria-label="@Loc[nameof(Dashboard.Resources.ConsoleLogs.LogStatusLabel)]">@_status</FluentLabel>
    </FluentToolbar>
    <LogViewer @ref="_logViewer" />
</div>
