@page "/ConsoleLogs/{resourceName?}"
@namespace Aspire.Dashboard.Components.Pages
@inject IStringLocalizer<Dashboard.Resources.ConsoleLogs> Loc

<PageTitle>@string.Format(Loc[Dashboard.Resources.ConsoleLogs.ConsoleLogsPageTitle], ResourceService.ApplicationName)</PageTitle>

<div class="resource-logs-layout">
    <h1 class="page-header">@Loc[Dashboard.Resources.ConsoleLogs.ConsoleLogsHeader]</h1>
    <FluentToolbar Orientation="Orientation.Horizontal">
        <FluentSelect @ref="_resourceSelectComponent" TOption="Option<string>"
                      Items="@Resources"
                      OptionText="(o) => o.Text"
                      OptionValue="(o) => o.Value"
                      @bind-SelectedOption="_selectedOption"
                      @bind-SelectedOption:after="HandleSelectedOptionChangedAsync"
                      AriaLabel="@Loc[Dashboard.Resources.ConsoleLogs.ConsoleLogsSelectAResource]"/>
        <FluentLabel Typo="Typography.Body">@_status</FluentLabel>
    </FluentToolbar>
    <LogViewer @ref="_logViewer" />
</div>
