@page "/Metrics"
@page "/Metrics/{applicationInstanceId}"
@page "/Metrics/{applicationInstanceId}/Meter/{meterName}"
@page "/Metrics/{applicationInstanceId}/Meter/{meterName}/Instrument/{instrumentName}"

@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Model.Otlp
@using Aspire.Dashboard.Resources
@using Aspire.Dashboard.Otlp.Model
@inject IStringLocalizer<Dashboard.Resources.Metrics> Loc
@inject IStringLocalizer<ControlsStrings> ControlsStringsLoc

<PageTitle>@DashboardClient.FormatApplicationName(Loc[nameof(Dashboard.Resources.Metrics.MetricsPageTitle)], () => InvokeAsync(StateHasChanged))</PageTitle>

<div class="metrics-layout">
    <h1 class="page-header">@Loc[nameof(Dashboard.Resources.Metrics.MetricsHeader)]</h1>
    <FluentToolbar Orientation="Orientation.Horizontal">
        <FluentSelect TOption="SelectViewModel<string>"
                      Items="@_applications"
                      OptionText="@(c => c.Name)"
                      @bind-SelectedOption="_selectedApplication"
                      @bind-SelectedOption:after="HandleSelectedApplicationChangedAsync"
                      AriaLabel="@ControlsStringsLoc[nameof(ControlsStrings.SelectAnApplication)]"/>
        <FluentIcon slot="end" Icon="Icons.Regular.Size20.Clock" Style="margin-right:5px;" />
        <FluentSelect slot="end" TOption="SelectViewModel<TimeSpan>"
                      Items="@_durations"
                      OptionText="@(c => c.Name)"
                      @bind-SelectedOption="_selectedDuration"
                      @bind-SelectedOption:after="HandleSelectedDurationChangedAsync"
                      AriaLabel="@Loc[nameof(Dashboard.Resources.Metrics.MetricsSelectADuration)]"/>
    </FluentToolbar>
    <div class="page-content-area">
        @if (_instruments?.Count > 0)
        {
            <FluentSplitter Style="height:100%" Panel1Size="2fr" Panel2Size="8fr">
                <Panel1>
                    <FluentTreeView Class="metrics-tree" @bind-CurrentSelected="_selectedTreeItem" @bind-CurrentSelected:after="HandleSelectedTreeItemChanged">
                        <ChildContent>
                            @foreach (var meterGroup in _instruments.GroupBy(i => i.Parent).OrderBy(g => g.Key.MeterName))
                            {
                                <FluentTreeItem @key="meterGroup.Key" Text="@meterGroup.Key.MeterName" Data="@meterGroup.Key" title="@meterGroup.Key.MeterName" InitiallyExpanded="true" InitiallySelected="@(_selectedInstrument == null && meterGroup.Key.MeterName == _selectedMeter?.MeterName)">
                                    @foreach (var instrument in meterGroup.OrderBy(i => i.Name))
                                    {
                                        <FluentTreeItem @key="instrument" Class="nested" Text="@instrument.Name" Data="@instrument" title="@instrument.Name" InitiallySelected="@(instrument.Name == _selectedInstrument?.Name && instrument.Parent.MeterName == _selectedMeter?.MeterName)" />
                                    }
                                </FluentTreeItem>
                            }
                        </ChildContent>
                    </FluentTreeView>
                </Panel1>
                <Panel2>
                    <div class="metrics-content">
                        @if (_selectedApplication.Id != null && _selectedMeter != null && _selectedInstrument != null)
                        {
                            <ChartContainer ApplicationId="@(_selectedApplication.Id)" MeterName="@(_selectedMeter.MeterName)" InstrumentName="@(_selectedInstrument.Name)" Duration="_selectedDuration.Id" />
                        }
                        else if (_selectedMeter != null)
                        {
                            <h3>@_selectedMeter.MeterName</h3>
                            <FluentDataGrid Style="max-width:1100px;" Items="@Queryable.AsQueryable(_instruments.Where(i => i.Parent == _selectedMeter).OrderBy(i => i.Name))" GridTemplateColumns="3fr 5fr" TGridItem="OtlpInstrument">
                                <ChildContent>
                                    <TemplateColumn Title="@Loc[nameof(Dashboard.Resources.Metrics.MetricsInsturementNameGridNameColumnHeader)]">
                                        <FluentAnchor Href="@($"/Metrics/{_selectedApplication.Id}/Meter/{context.Parent.MeterName}/Instrument/{context.Name}")" Appearance="Appearance.Lightweight">
                                            @context.Name
                                        </FluentAnchor>
                                    </TemplateColumn>
                                    <PropertyColumn Title="@Loc[nameof(Dashboard.Resources.Metrics.MetricsInsturementDescriptionGridNameColumnHeader)]" Property="@(c => c.Description)" Class="multiline-text" />
                                </ChildContent>
                            </FluentDataGrid>
                        }
                        else
                        {
                            <p>@Loc[nameof(Dashboard.Resources.Metrics.MetricsSelectInstrument)]</p>
                        }
                    </div>
                </Panel2>
            </FluentSplitter>
        }
        else if (_instruments == null)
        {
            <div class="empty-content">
                <FluentIcon Icon="Icons.Regular.Size24.ChartMultiple" />&nbsp;@Loc[nameof(Dashboard.Resources.Metrics.MetricsSelectAResource)]
            </div>
        }
        else
        {
            <div class="empty-content">
                <FluentIcon Icon="Icons.Regular.Size24.ChartMultiple" />&nbsp;@Loc[nameof(Dashboard.Resources.Metrics.MetricsNoMetricsForResource)]
            </div>
        }
    </div>
</div>
