@namespace Aspire.Dashboard.Components.Pages
@using Aspire.Dashboard.Model
@typeparam TResource where TResource : ResourceViewModel

<PageTitle>@DashboardViewModelService.ApplicationName @ResourceType Logs</PageTitle>

<div class="resource-logs-layout">
    <h1>@ResourceType Logs</h1>
    <FluentToolbar Orientation="Orientation.Horizontal">
        <FluentSelect @ref="_resourceSelectComponent" TOption="TResource"
                        Items="@Resources"
                        OptionValue="@(c => c.Name)"
                        OptionText="GetDisplayText"
                        @bind-SelectedOption="_selectedResource"
                        @bind-SelectedOption:after="HandleSelectedOptionChangedAsync"
                        AriaLabel="@SelectResourceTitle"/>
        <FluentLabel Typo="Typography.Body">@_status</FluentLabel>
    </FluentToolbar>
    <LogViewer @ref="_logViewer" />
</div>
