@page "/Traces/{applicationInstanceId?}"

@using Aspire.Dashboard.Components.Dialogs
@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Model.Otlp
@using Aspire.Dashboard.Otlp.Model
@using Aspire.Dashboard.Otlp.Storage
@using System.Web
@inject NavigationManager NavigationManager
@inject IDashboardViewModelService DashboardViewModelService
@inject IJSRuntime JS
@implements IDisposable

<PageTitle>@DashboardViewModelService.ApplicationName Traces</PageTitle>


<div class="traces-layout">
    <h1 class="page-header">Traces</h1>
    <FluentToolbar Orientation="Orientation.Horizontal">
        <FluentSelect TOption="SelectViewModel<string>"
                      Items="@_applicationViewModels"
                      OptionValue="@(c => c.Id)"
                      OptionText="@(c => c.Name)"
                      @bind-SelectedOption="_selectedApplication"
                      @bind-SelectedOption:after="HandleSelectedApplicationChangedAsync"
                      AriaLabel="Select an Application"/>
        <FluentSearch @bind-Value="_filter"
                      @oninput="HandleFilter"
                      @bind-Value:after="HandleClear"
                      Placeholder="Filter..."
                      title="Name filter"
                      slot="end" />
    </FluentToolbar>
    <div class="datagrid-overflow-area continuous-scroll-overflow" tabindex="-1">
        <FluentDataGrid Virtualize="true" RowStyle="@GetRowStyle" GenerateHeader="GenerateHeaderOption.Sticky" ItemSize="46" ResizableColumns="true" ItemsProvider="@GetData" TGridItem="OtlpTrace" GridTemplateColumns="0.8fr 2fr 3fr 0.5fr 0.5fr">
            <ChildContent>
                <PropertyColumn Title="Timestamp" Property="@(context => OtlpHelpers.FormatTimeStamp(context.FirstSpan.StartTime))" />
                <TemplateColumn Title="Name" Tooltip="true" TooltipText="@((t) => $"{t.FullName}: {OtlpHelpers.ToShortenedId(t.TraceId)}")">
                    <span><FluentHighlighter HighlightedText="@(ViewModel.FilterText)" Text="@(context.FullName)" /></span>
                    <span class="trace-id">@OtlpHelpers.ToShortenedId(context.TraceId)</span>
                </TemplateColumn>
                <TemplateColumn Title="Spans">
                    <FluentOverflow>
                        <ChildContent>
                            @foreach (var item in context.Spans.GroupBy(s => s.Source).OrderBy(g => g.Key.ApplicationName))
                            {
                                <FluentOverflowItem>
                                    <span class="trace-tag trace-service-tag" title="@(GetTooltip(item))" style="border-left-color: @(ColorGenerator.Instance.GetColorHexByKey(GetResourceName(item.Key)));">
                                        @if (item.Any(s => s.Status == OtlpSpanStatusCode.Error))
                                        {
                                            <FluentIcon Icon="Icons.Filled.Size12.ErrorCircle" Color="Color.Error" Class="trace-tag-icon" />
                                        }
                                        @GetResourceName(item.Key) (@item.Count())
                                    </span>
                                </FluentOverflowItem>
                            }
                        </ChildContent>
                        <MoreButtonTemplate Context="another_name">
                            <span class="trace-tag">
                                @($"+{another_name.ItemsOverflow.Count()}")
                            </span>
                        </MoreButtonTemplate>
                    </FluentOverflow>
                </TemplateColumn>
                <PropertyColumn Title="Duration" Property="@(context => DurationFormatter.FormatDuration(context.Duration))" />
                <TemplateColumn>
                    <FluentAnchor Appearance="Appearance.Lightweight" Href="@($"/Trace/{context.TraceId}")">View</FluentAnchor>
                </TemplateColumn>
            </ChildContent>
            <EmptyContent>
                <FluentIcon Icon="Icons.Regular.Size24.GanttChart" />&nbsp;No traces found
            </EmptyContent>
        </FluentDataGrid>
    </div>
    <TotalItemsFooter @ref="_totalItemsFooter" />
</div>
