@page "/Traces/{applicationInstanceId?}"

@using Aspire.Dashboard.Model
@using Aspire.Dashboard.Model.Otlp
@using Aspire.Dashboard.Otlp.Model
@using Aspire.Dashboard.Resources
@inject NavigationManager NavigationManager
@inject IDashboardClient DashboardClient
@inject IJSRuntime JS
@inject IStringLocalizer<Dashboard.Resources.Traces> Loc
@inject IStringLocalizer<ControlsStrings> ControlsStringsLoc
@implements IDisposable

<PageTitle><ApplicationName ResourceName="@nameof(Dashboard.Resources.Traces.TracesPageTitle)" Loc="@Loc" /></PageTitle>

<div class="traces-layout">
    <h1 class="page-header">@Loc[nameof(Dashboard.Resources.Traces.TracesHeader)]</h1>
    <FluentToolbar Orientation="Orientation.Horizontal">
        <FluentSelect TOption="SelectViewModel<string>"
                      Items="@_applicationViewModels"
                      OptionValue="@(c => c.Id)"
                      OptionText="@(c => c.Name)"
                      @bind-SelectedOption="_selectedApplication"
                      @bind-SelectedOption:after="HandleSelectedApplicationChangedAsync"
                      AriaLabel="@ControlsStringsLoc[nameof(ControlsStrings.SelectAnApplication)]"/>
        <FluentSearch @bind-Value="_filter"
                      @oninput="HandleFilter"
                      @bind-Value:after="HandleClear"
                      Placeholder="@ControlsStringsLoc[nameof(ControlsStrings.FilterPlaceholder)]"
                      title="@Loc[nameof(Dashboard.Resources.Traces.TracesNameFilter)]"
                      slot="end" />
    </FluentToolbar>
    <div class="datagrid-overflow-area continuous-scroll-overflow" tabindex="-1">
        <FluentDataGrid Virtualize="true" GenerateHeader="GenerateHeaderOption.Sticky" ItemSize="46" ResizableColumns="true" ItemsProvider="@GetData" TGridItem="OtlpTrace" GridTemplateColumns="0.8fr 2fr 3fr 0.8fr 0.5fr">
            <ChildContent>
                <PropertyColumn Title="@ControlsStringsLoc[nameof(ControlsStrings.TimestampColumnHeader)]" Property="@(context => OtlpHelpers.FormatTimeStamp(context.FirstSpan.StartTime))" />
                <TemplateColumn Title="@ControlsStringsLoc[nameof(ControlsStrings.NameColumnHeader)]" Tooltip="true" TooltipText="@((t) => $"{t.FullName}: {OtlpHelpers.ToShortenedId(t.TraceId)}")">
                    <span><FluentHighlighter HighlightedText="@(TracesViewModel.FilterText)" Text="@(context.FullName)" /></span>
                    <span class="trace-id">@OtlpHelpers.ToShortenedId(context.TraceId)</span>
                </TemplateColumn>
                <TemplateColumn Title="@Loc[nameof(Dashboard.Resources.Traces.TracesSpansColumnHeader)]">
                    <FluentOverflow>
                        <ChildContent>
                            @foreach (var item in context.Spans.GroupBy(s => s.Source).OrderBy(g => g.Min(s => s.StartTime)))
                            {
                                <FluentOverflowItem @key=item>
                                    <span class="trace-tag trace-service-tag" title="@(GetTooltip(item))" style="border-left-color: @(ColorGenerator.Instance.GetColorHexByKey(GetResourceName(item.Key)));">
                                        @if (item.Any(s => s.Status == OtlpSpanStatusCode.Error))
                                        {
                                            <FluentIcon Icon="Icons.Filled.Size12.ErrorCircle" Color="Color.Error" Class="trace-tag-icon" />
                                        }
                                        @GetResourceName(item.Key) (@item.Count())
                                    </span>
                                </FluentOverflowItem>
                            }
                        </ChildContent>
                        <MoreButtonTemplate Context="another_name">
                            <span class="trace-tag">
                                @($"+{another_name.ItemsOverflow.Count()}")
                            </span>
                        </MoreButtonTemplate>
                    </FluentOverflow>
                </TemplateColumn>
                <TemplateColumn Title="@ControlsStringsLoc[nameof(ControlsStrings.DurationColumnHeader)]">
                    <div class="duration-container">
                        <FluentProgressRing Class="duration-ring"
                                            Min="0"
                                            Max="@Convert.ToInt32(TracesViewModel.MaxDuration.TotalMilliseconds)"
                                            Value="@Convert.ToInt32(context.Duration.TotalMilliseconds)"
                                            aria-label="@ControlsStringsLoc[nameof(ControlsStrings.DurationColumnHeader)]" />
                        <span class="trace-duration">
                            @DurationFormatter.FormatDuration(context.Duration)
                        </span>
                    </div>
                </TemplateColumn>

                <TemplateColumn Title="@ControlsStringsLoc[nameof(ControlsStrings.DetailsColumnHeader)]">
                    <FluentAnchor Appearance="Appearance.Lightweight" Href="@($"/Trace/{context.TraceId}")">@ControlsStringsLoc[nameof(ControlsStrings.ViewAction)]</FluentAnchor>
                </TemplateColumn>
            </ChildContent>
            <EmptyContent>
                <FluentIcon Icon="Icons.Regular.Size24.GanttChart" />&nbsp;@Loc[nameof(Dashboard.Resources.Traces.TracesNoTraces)]
            </EmptyContent>
        </FluentDataGrid>
    </div>
    <TotalItemsFooter @ref="_totalItemsFooter" />
</div>
